<script lang="ts">
	import Hero from '$lib/component/Hero.svx';
	import Blog from '$lib/component/Blog.svelte';
	import PostCard from '$lib/component/PostCard.svelte';
</script>

# hero

<PostCard />
<Hero />
